img.twenty-five-percent {
   width: 25%;
}
img.fifty-percent {
width: 50%;
}
img.seventy-five-percent {
width: 75%;
}
img.rounded {
               width: 480px;
                height: 240px;
                border-radius: 50%;
}
img.mercury {
		width: 280px;
                height: 480px;
                border-radius: 50%;
}
h2 {
	color: Green;
}
h3 {
	color: Purple;
}
